body {
  font-family: 'Josefin Sans', sans-serif;
  background-image: linear-gradient(to right, white, green)
}

.high-usage {
  color: red;
}

.medium-usage {
  color: orange;
}

.low-usage {
  color: blue;
}

.true {
  color: green;
}

.false {
  color: red;
}
